@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GLOBAL COLOURS - START */

:root {
  --navy-blue: #2c3640;
}

/* GLOBAL COLOURS - END */

/* TYPOGRAPHY - START */

h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  font-style: normal;
  color: var(--navy-blue);
}

h2 {
  font-size: 42px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: var(--navy-blue);
}

p,
a {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--navy-blue);
}

a {
  text-decoration: none;
}

/* TYPOGRAPHY - END */

/* GLOBAL ELEMENTS - START */

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 60px;
}

/* GLOBAL ELEMENTS - END */

.header-logo h1 {
  text-transform: uppercase;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  /* border-bottom: 2px solid #2c3640; */
}

header.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.contact-button a {
  padding: 10px 20px;
  border: 2px solid var(--navy-blue);
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
  z-index: 1;
}

.contact-button a:hover {
  color: #fff;
}

.contact-button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--navy-blue);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.contact-button a:hover::before {
  width: 100%;
}

.nav-menu a {
  position: relative;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: width 0.3s ease-in-out;
  background-color: var(--navy-blue);
}

.nav-menu a:hover::after {
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons > div > a > img {
  width: 30px;
  height: 30px;
}

.profile-wrapper {
  position: relative;
  width: fit-content;
}

.profile-wrapper img {
  width: 500px;
}

.burger-menu img {
  width: 50px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background: var(--navy-blue);
  gap: 20px;
  padding: 20px 40px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
  transform: translate(0%, -50%);
}

.mobile-menu a {
  color: #fff;
}

@media (max-width: 1100px) {
  .profile-wrapper img {
    width: 100%;
  }
}

.hero {
  padding: 60px 0px;
  margin-top: 92px;
}

.hero .container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero .container > div {
  width: 50%;
}

.hero-decoration {
  width: 100px;
  height: 5px;
  background: var(--navy-blue);
  margin-bottom: 30px;
}

.hero-title {
  padding-bottom: 30px;
}

.hero-content {
  padding-bottom: 30px;
}

.social-links p {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.hero-right {
  display: flex;
  justify-content: center;
}

.skills-block {
  background: var(--navy-blue);
}

.skills-block * {
  color: #fff;
}

.skills-block .container {
  display: flex;
  gap: 60px;
}

.skills-block .container > div {
  width: 50%;
}

.single-skill:first-child {
  padding-top: 0px;
}

.single-skill:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.single-skill-wrapper {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.single-skill .skill-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  line-height: 1;
  padding-bottom: 20px;
}

.single-skill p span {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}

.title-decoration {
  width: 100px;
  height: 5px;
  background: #fff;
  margin-bottom: 30px;
}

.block-intro h2 {
  padding-bottom: 30px;
}

.hero {
  background: #f8f6f2;
}

header {
  background: #f8f6f2;
}

.about-intro h2 {
  padding-bottom: 30px;
}

.section {
  padding: 120px 0;
}

.about-block-wrapper {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.about-intro,
.about-experience {
  width: 50%;
}

.about-experience {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.single-about p {
  color: #fff;
}

.about-experience svg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition:
    left 0.3s ease-in,
    transform 0.5s ease-in;
}

.experience-content {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.single-about.active .experience-content {
  max-height: 2000px;
  opacity: 1;
}

.about-experience svg {
  pointer-events: none;
}

.single-about.active svg {
  left: 0;
  transform: translateX(0%);
}

.about-intro p:not(:last-child) {
  padding-bottom: 20px;
}

.single-about {
  transform: background 0.3s ease-in-out;
  cursor: pointer;
}

.single-about.active {
  background: var(--navy-blue);
}

.single-about svg path {
  transition: fill 0.3s ease-in-out;
}

.single-about.active svg path {
  fill: #fff;
}

.about-snap,
.about-think {
  background: #f8f6f2;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.about-snap svg,
.about-think svg {
  width: 100px;
  padding: 30px 0px;
}

.about-experience * {
  color: var(--navy-blue);
}

.block-content {
  height: 500px; /* Whatever shows roughly 2 cards */
  overflow: hidden;
  position: relative;
}

.scroll-lock-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* ======== */

.skills-block {
  overflow: hidden;
}

.block-content {
  overflow: hidden;
}

.scroll-lock-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* .single-skill {
  padding: 30px 0;
} */

.single-project img {
  height: 120px !important;
}

.single-project {
  padding: 40px 50px;
}

.ouas {
  background: rgba(55, 161, 117, 0.2);
  position: relative;
}

.ouas::before {
  content: "Drum Award Winner";
  color: #fff;
  background: #37a175;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  font-weight: 600;
}

.slattery {
  background: #f0efef;
}

.chancery {
  background: #f58232;
}

.sb-labs {
  background: #f3f5f6;
}

.lagans {
  background: rgba(216, 216, 216, 0.65);
}

.single-project.lagans img {
  height: 90px !important;
}

@media (max-width: 650px) {
  .single-project.lagans img {
    height: 60px !important;
  }
}

.fareshare {
  background: rgba(227, 243, 205, 0.5);
}

.tdas {
  background: rgba(238, 223, 202, 0.4);
}

.ssuk {
  background: #adadad;
}

.fpl {
  background: rgb(55, 0, 60, 0.2);
  position: relative;
}

.fpl::before {
  content: "Version 1";
  color: #fff;
  background: rgb(55, 0, 60);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  font-weight: 600;
}

.personal-projects {
  margin-top: 4rem;
}

.fpl img {
  height: 75px !important;
}

.projects-block {
  overflow: hidden;
}

.projects-wrapper {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-scroll {
  display: flex;
  gap: 2rem;
  width: max-content;
  margin-top: 4rem;
}

.single-project {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.personal-projects-block {
  background: #f8f6f2;
}

footer {
  background: var(--navy-blue);
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  align-items: center;
}

footer .email-link img {
  width: 30px;
}

footer .email-link {
  display: flex;
  gap: 15px;
}

footer .email-link span {
  display: flex;
  align-items: center;
}

footer * {
  color: #fff;
}

.experience-content p {
  padding-bottom: 20px;
}

@media (max-width: 980px) {
  .hero-right {
    display: none;
  }

  .hero-left {
    width: 66% !important;
  }

  .about-block-wrapper,
  .skills-block .container {
    flex-direction: column;
  }

  .about-intro,
  .about-experience,
  .block-intro,
  .block-content {
    width: 100% !important;
  }

  .nav-menu,
  .contact-button {
    display: none;
  }
}

@media (max-width: 650px) {
  .single-project {
    height: 150px;
    width: 300px;
  }

  .single-project img {
    height: 80px !important;
  }

  footer .container {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 60px;
  }

  .single-skill .skill-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-left {
    width: 100% !important;
  }

  .personal-projects .fpl img {
    height: 55px !important;
  }
}

/* @media (max-width: 500px) {
  .single-project {
    height: 75px;
    width: 150px;
  }
  .single-project img {
    height: 70px !important;
  }

  .ouas::before {
    padding: 1px 0;
    font-size: 12px;
  }
} */

@media (max-width: 450px) {
  .single-project {
    height: 120px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  footer .container {
    padding: 20px 30px;
  }

  footer .container {
    padding: 10px 30px;
  }
}

.burger-menu {
  display: none;
}

@media (max-width: 980px) {
  .burger-menu {
    display: block;
  }

  .scroll-lock-wrapper {
    flex-direction: row;
    gap: 30px;
    overflow-x: scroll;
  }

  .single-skill {
    width: 400px;
    flex-shrink: 0;
  }

  .single-skill-wrapper {
    height: 100%;
  }

  .single-skill-wrapper {
    height: 100%;
    box-sizing: border-box;
  }

  .block-content {
    height: auto;
  }

  .single-skill .skill-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

@media (max-width: 450px) {
  .single-skill {
    width: 300px;
  }
}
